.title__button-site {
    @extend %button-site;
    padding: 10px 24px;
    @include transition (background-color);

    @media screen and (min-width: 1200px) {
        width: 216px;
    }

    &:hover {
        background-color: $button-active-color;
    }
}
.button-site-close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 6px;
    width: 30px;
    height: 30px;
    margin: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: $praymary-background-color;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.form__button-site {
    @extend %button-site;
    padding: 10px 52px;

    @include transition (background-color);

    &:hover {
        background-color: $button-active-color;

    }
}


.button-site-close__icon {
    fill: carrentColor;
    @include transition (fill);

    .button-site-close:hover & {
        fill: $logo-akcent-color;
    }
}