.footer {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background: $footer-color;
    height: 603px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        height: 463px;
    }
    @media screen and (min-width: 1200px) {
        height: 252px;
    }

}

.footer__contacts {

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 165px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 64px;
    }

}

.footer__social {
    margin-top: 60px;
    height: 80px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 0;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 12px;
        margin-right: 93px;
    }

}

.footer-titl {
    margin: 0 0 20px 0;
    color: $praymary-background-color;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.contact-site {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.contact-site__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.contact-site__descr {
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: center;
    color: $praymary-background-color;
    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.contact-site__item {
    min-width: 231px;
    font-style: normal;
  
}

.contact-site__link {
    margin-top: 8px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    @include transition (color);

    &--geometry {
        margin-bottom: 0;
    }

    &:hover,
    &:focus {
        color: $logo-akcent-color;
    }
    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

// form footer

.form-subscription {
    height: 86px;
    margin-top: 60px;

    @media screen and (min-width: 1199px) {
        margin-top: 12px;
    }

    &__conteiner {
        margin-top: 20px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 450px;
        }
        @media screen and (min-width: 1200px) {
            margin-top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 570px;
        }


    }

    &__label {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

}

.form-subscription__input {
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    background-color: $footer-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    @include transition (filter);

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        margin-right: 12px;

    }


    &:focus-visible,
    &:focus {
        outline: 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    }

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}

.form-subscription__icon {
    margin-left: 10px;
    background-size: contain;
    fill: $praymary-background-color;
    background-color: $logo-akcent-color;

}

.footer__button-site {
    @extend %button-site;
    padding: 10px 28px;

    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 200px;
    }
}