body {
    margin: 0;
    letter-spacing: 0.03em;
    font-family: $font-Roboto;
    background-color: $praymary-background-color;
    color: $praymare-text-color;
}
.container {
    min-width: 320px;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    border-bottom: 1px solid $header-border-color;
    & .container {
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
.nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    @media (max-width: 767px) {
    & {
        display: none;
    }
    }
}
.nav-list__link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
    .nav-list &:hover,
    .nav-list &:focus {
        text-decoration: underline;
    }
}
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    @media (min-width: 768px) {
        & {
            display: none;
        }
    }

    &:hover,
    &:focus {
        background-color: $praymary-background-color;
    }

    .menu-container & {
        position: absolute;
        top: 16px;
        right: 16px;
        color: #fff;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: $praymary-background-color;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    &.is-open {
        transform: translateX(0);
    }
}
.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;

    &__link {
        display: block;
        padding: 10px;
        color: $title-text-color;
        text-decoration: none;
    }
}

.nav-contact {
    @media (max-width: 767px)  {
        display: none;
    }
}
.site-nav {
    @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}







