.logo {
    display: inline-block;
    margin-right: 93px;
    margin-left: 0;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: $font-Releway;
    color: $title-text-color;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    &__text {
        margin: 0;
    }

    &--blue {
        color: $logo-akcent-color;
    }

    &--position {
        padding-top: 0;
        padding-bottom: 20px;
    }

    &__text--white {
        color: $praymary-background-color;
    }

    @media (max-width: 767px) {
        font-size: 24px;
        line-height: 1.17;
    }

}







